# Postgres
DB_PASS="example"
DB_USER="postgres"

# Django
DJANGO_SECRET_KEY="django-insecure-2d6*a*m2@9y2%$+17#0j&#n+!lkh(a@*&j549u8ka6)uktemd0"
FRONTEND_IP=""
ENVIRON="production"

EMAIL_HOST=""
EMAIL_PORT=""
EMAIL_HOST_USER=""
EMAIL_HOST_PASSWORD=""
EMAIL_SENDER=""
